@page "/opening/"
@using DataAccess.Models
@using ApiCalls
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<PageTitle>@opening.OpeningName</PageTitle>

<h1>@opening.OpeningName</h1>
<dl>
    <dt>name</dt>
    <dd>@opening.OpeningName</dd>
    <dt>creator</dt>
    <dd>@opening.CreatorName</dd>
    <dt>description</dt>
    <dd>@opening.Description</dd>
    <dt>pgn</dt>
    <dd>@opening.OpeningPGN</dd> 
</dl>


@code {
    private OpeningModel? opening;

    protected override async Task OnInitializedAsync()
    {
        int openingId = 0;
        while (openingId == 0)
        {
            openingId = await sessionStorage.GetItemAsync<int>("currentOpeningId");
        }
        opening = await ChessOpeningHubAPI.GetOpening(openingId);
    }
}
